body {
	font-family: 'Roboto', sans-serif;
	max-width: 45em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.4em;
	color: black;
	background-color: #fafafa;
}
h1,h2,h3 {
	font-family: 'Michroma', sans-serif;
	line-height: 1.2em;
}
h1 {
	font-size: 4em;
	margin-top: 0;
	border-bottom: 5px solid black;
}
@media (max-width: 600px) { h1 { font-size: 3em; } }
@media (max-width: 500px) { h1 { font-size: 2em; } }
h1.sitetitle {
	font-size: 1.5em;
	border-bottom: 0;
	border-top: 10px solid black;
	margin-top: 1em;
	margin-bottom: 0;
}
h1.sitetitle a {
	text-decoration: none;
}
code,pre {
	font-family: 'Roboto Mono', monospace;
}

h1 {
}

h2 {
	margin-top: 1.5em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

h3 {
	margin-bottom: 0;
}

div.copyright {
	border-top: 1px solid black;
	padding-top: 0.2em;
}
div.copyright, div.copyright a {
	color: #555;
}
span.copyrightlabel {
	font-family: 'Michroma', sans-serif;
	font-size: 110%;
}
div.copyright p {
	margin: 0;
	font-size: 90%;
	font-family: "Roboto Condensed", sans-serif;
}

pre {
	margin-left: 1em;
	border: 1px solid #AAA;
	padding: 0.5em 1em;
	background-color: #DDD;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
td,th {
	border: 1px solid #AAA;
	padding: 0.1em 0.2em;
}
td.n,th.n { /* Numbers */
	text-align: right;
}
th {
	font-family: 'Michroma', sans-serif;
}
